body, html {
  margin: 0;
  height: 100%;
  overflow: auto; /* lets a scroll bar pop up if needed */
}

.App {
  background-color: #001f3f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 1s ease-in-out;
}

.bakunawa {
  width: 100px;
  transition: transform 1s ease-out;
}

.dice {
  width: 95px;
  height: 90px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.dice:hover {
  transform: scale(1.1); /* Scale up on hover */
  filter: brightness(1.2); /* Brightness effect on hover */
}

.dice-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5px;
  background-image: url(./DiceImg/Dice_Container_top.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 400px;
  height: 146px;
  margin-bottom: 0;
  margin-top: 0;
}

.dice-selector img {
  width: 85px;
  height: 90px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.dice-selector img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.dice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 500px;
  padding: 80px;
  background-image: url(./DiceImg/Dice_Container_body.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
}

.dice-container .dice:hover {
  transform: scale(0.95);
  filter: brightness(0.8);
}


@keyframes bounceUp {
  0% { transform: translateY(0); }
  20% { transform: translateY(-80px); }
  65% { transform: translateY(3px); }
  100% { transform: translateY(0); }
}

.rolling .bakunawa {
  animation: bounceUp 0.6s ease-in-out forwards;
}

@keyframes diceRoll {
  0% { transform: translateY(0) rotate(72deg); }
  10% { transform: translateY(-100px) rotate(144deg); }
  50% { transform: translateY(0) rotate(216deg); }
  70% { transform: translateY(-20px) rotate(288deg); }
  100% { transform: translateY(0) rotate(360deg); }
}

@keyframes spawnDice {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rolling .dice {
  animation: diceRoll 0.6s ease-in-out;
}

.bakunawa-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, filter 0.3s;
}

.bakunawa-button .bakunawa {
  width: 50%;
  height: auto;
  transition: transform 0.6s ease-in-out;
}

.bakunawa-button:hover .bakunawa {
  filter: brightness(1.2);
}

.bakunawa-button:disabled {
  cursor: not-allowed;
  filter: brightness(0.6);
}

.menu-button, .dice-settings {
  position: absolute;
  top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: none;
}

.menu-button {
  top: 30px;
  left: 20px;
  position: absolute;
  color: white;
  width: 150px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  background-size: contain;
}

.menu-button span { /* Ensures that text is in the button */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none; /* Prevents clicking the text instead of the button */
}

.menu-button:hover{
  filter: brightness(1.1);
}

.menu-button img {
  width: 100%; /* Make the image fit */
  height: auto;
  display: block;
}

.dice-settings {
  top: 30px;
  right: 20px;
  position: absolute;
  color: white;
  width: 150px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  background-size: contain;
}

.dice-settings span { /* Ensures that text is in the button */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none; /* Prevents clicking the text instead of the button */
}

.dice-settings:hover{
  filter: brightness(1.1);
}

.dice-settings img {
  width: 100%; /* Make the image fit */
  height: auto;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  transform: translateX(-100%); /* For transition/slide animation */
  transition: transform 0.2s ease-in-out;
  overflow: auto;
}

.menu-overlay.show {
  transform: translateX(0);
}

.menu-overlay.right {
  left: auto;
  right: 0;
  background-color: #333;
  overflow: auto;
  transform: translateX(100%); /* For transition/slide animation */
}

.menu-overlay.right.show {
  transform: translateX(0);
}

.menu-overlay img {
  width: 150px;
  cursor: pointer;
}

.adjust-btn {
  color: #333;
  background: white;
  border: none; 
  font-size: 25px;
  font-weight: bold;
  transition: filter 0.2s;
}

.adjust-btn:hover{
  filter: brightness(1.5);
}

.count-display { /* CSS for number */
  font-size: 20px; 
  font-weight: bold;
  margin: 0 10px;
}

.coin-style{
  color: #333;
  background: white;
  border: none;
  font-size: 23px;
  font-weight: bold;
  transition: filter 0.2s;
}

.coin-style:hover{
  filter: brightness(1.5);
}

.close-btn {
  top: 50px; /* Move away from the top edge */
  right: 20px; /* Move away from the right edge */
  color: white;
  width: 100px; 
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  background-size: contain;
  cursor: pointer; /* Ensure the close button is clickable */
  z-index: 1; /* Keep it above the other content */
}

.close-btn span { /* Ensures that text is in the button */
  position: absolute;
  color: white;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none; /* Prevents clicking the text itself */
}

.close-btn:hover{
  filter: brightness(1.1);
}

.skin-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skin-options .img{
  width: 100%;
  height: 100%;
}

.center-roll-btn {
  background: none;
  border: none;
  padding: 20px 20px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.center-roll-btn:hover {
  transform: scale(1.05); 
  filter: brightness(1.3);
}

.hide-btn {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.stats-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  color: black;
  border-radius: 12px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  z-index: 10;
}

.game-settings {
  top: 110px;
  right: 20px;
  position: absolute;
  color: white;
  width: 150px;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  background-size: contain;
}

.game-settings span { /* Ensures that text is in the button */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none; /* Prevents clicking the text instead of the button */
}

.game-settings:hover{
  filter: brightness(1.1);
}

.game-settings img {
  width: 100%; /* Make the image fit */
  height: auto;
}

.menu-overlay.stats {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  padding: 20px;
  z-index: 9;
  color: black;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: translateX(100%); /* For transition/slide animation */
  transition: transform 0.2s ease-in-out;
}

.menu-overlay.stats.show {
  transform: translateX(0);
}

/*AlertBox Styles*/
.custom-alert {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: top 0.5s ease;
  z-index: 9999;
  max-width: 80%;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.custom-alert.show {
  top: 50%;
  transform: translate(-50%, -50%);
}

/*Shut The Box Styles*/
.shut-box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.block-row {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.block {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.block.up {
  background-color: #f1c40f;
  color: black;
}

.block.down {
  background-color: #555;
  color: white;
  text-decoration: line-through;
}

.block.disabled {
  background-color: #ccc;
  color: #666;
  pointer-events: none;
  text-decoration: none;
}


/* --- Mobile Styles --- */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .App {
      padding: 15px;
      padding-top: 100px;
      position: absolute;
  }

  .image-container {
      margin-top: 15px;
  }

  .bakunawa-button .bakunawa {
      width: 250px;
  }

  .dice {
      width: 80px; 
  }

  .menu-button, .dice-settings {
      padding: 7px;
      font-size: 0.9em;
  }



  .menu-overlay {
      width: 60%;
  }

  .menu-overlay.right { 
      width: 60%; 
  }

  .menu-overlay img {
      width: 100px; 
  }

  .close-btn {
      padding: 2px; 
      margin-bottom: 10px;
  }

  .dice-container {
      flex-direction: row;
      align-items: center; 
  }
  
}

/* --- Even smaller mobile screens if needed --- */
@media (max-width: 480px) {
  .bakunawa-button .bakunawa {
      width: 200px;
  }

}